.card {
    float:right;
    margin: 10px;
    width: 15px;
    padding: 4px;
}

.btn {
    margin: 5px;
}

#searchBox {
    background-color: lightgray;
    margin: 30px, 0px, 5px, 0px;
}

#currentForecast {
    margin: 5px;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
}

#currentCityWeather {
    margin: 5px;
    padding: 10px;
}

#fiveDayBlock {
    margin: 5px;
    padding: 10px;
}